%link{:rel => "stylesheet", :href => 'style.css'}
#calc
  #z_type_div
    %p Виды заборов
    %select#z_type
      %option{:value=>"prof"}Профнастил
      %option{:value=>"three_D"}3D панель
      %option{:value=>"zabor1"}Забор из сетки (Размер 50x100)
      %option{:value=>"zabor2"}Забор из сетки (Размер 50x63)
      %option{:value=>"zabor3"}Забор из сетки (Размер 50x50)
  #z_lenght_div
    %p Длина забора в метрах
    %input#z_lenght{:min => "0",
                    :type => "number"}
  #z_height_div
    %p Высота забора
    %select#prof
      %option{:value => '45euro - 1,5м'}1,5 м.
      %option{:value => '50euro - 2м'}2 м.
    %select#three_D
      %option{:value => "14euro - 1м"} 1 м.
      %option{:value => "15euro - 1,2м"} 1,2 м.
      %option{:value => "16.5euro - 1.5м"} 1.5 м.
      %option{:value => "18euro - 1.7м"} 1.7 м.
      %option{:value => "20euro - 2м"} 2 м.
      %option{:value => "24euro - 2.4м"} 2.4 м.
    %select#zabor1
      %option{:value => "12euro - 1,5м"} 1,5 м.
      %option{:value => "13,5euro - 1,7м"} 1,7 м.
      %option{:value => "15euro - 2м"} 2 м.
    %select#zabor2
      %option{:value => "13euro - 1,5м"} 1,5 м.
      %option{:value => "14,5euro - 1,7м"} 1,7 м.
      %option{:value => "16euro - 2м"} 2 м.
    %select#zabor3
     
      %option{:value => "14euro - 1,5м"} 1,5 м.
      %option{:value => "15,5euro - 1,7м"} 1,7 м.
      %option{:value => "17euro - 2м"} 2 м.


  #v_type_div
    %p Тип ворот
    %select#v_type
      %option{:value => "none"}Без ворот
      %option{:value => "v_height_raspashnie"}Ворота распашные
      %option{:value => "v_height_otkatnie"}Ворота откатные
  #v_height_div
    %p Ширина ворот
    %select#none
      %option{:value => "0 - 0"}-----
    %select#v_height_raspashnie
      %option{:value => "250euro - 3м"}3 м.
      %option{:value => "275euro - 3,5м"}3,5 м.
      %option{:value => "300euro - 4м"}4 м.
      %option{:value => "325euro - 4,5м"}4,5 м.
      %option{:value => "450euro - 5м"}5 м.
      %option{:value => "550euro+ - 5+м"}5+ м.
    %select#v_height_otkatnie
      %option{:value => "420euro - 3м"}3 м.
      %option{:value => "490euro - 3,5м"}3,5 м.
      %option{:value => "560euro - 4м"}4 м.
      %option{:value => "630euro - 4,5м"}4,5 м.
      %option{:value => "750euro - 5м"}5м
      %option{:value => "900euro+ - 5+м"}5+ м.


  #k_bool_div
    %input#kalitka{:type => "checkbox", :value => "140eruo Калитка"}
    %label{:for => "kalitka"}Калитка
  #z_result_div
    %p Цена всего
    %input#z_result{:disabled => 'disabled', :placeholder => 'Цена'}
    
    
    
  #z_image
%script{:src => "index.js"}